
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/lighthouse-reports/

# Local config
.env
storageState.json
pages-exploration/
*.sqlite
.lighthouseci/
